.search-table {
    width: 100%;
  }
  
  .mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-search {
    padding-left: 16px;
    font-size: 18px;
  }
  
  .mat-column-created {
    font-size: 18px;
    font-style: italic;
  }
  
  .mat-column-count {
    font-size: 18px;
    width: 32px;
    text-align: center;
    font-weight: bold;
  }