<mat-toolbar>
  <a class="navbar-brand">Youtube Crawler</a>

  <form class="search-form">
    <mat-form-field>
      <input
        matInput
        id="searchinput"
        type="search"
        [(ngModel)]="searchkey"
        (keydown.enter)="crawlYoutube(searchkey)"
        name="keyword"
        id="searchName"
        placeholder=""
      />

      <button
        mat-button
        (click)="crawlYoutube(searchkey)"
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor02"
        aria-controls="navbarColor02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>

    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
<div class="center-screen">
  <mat-progress-spinner
    class="example-margin"
    *ngIf="spinnerService.visibility | async"
    color="green"
    mode="indeterminate"
    value="30 "
  >
  </mat-progress-spinner>
</div>

<router-outlet></router-outlet>
