<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Youtube Crawler</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
     <form class="form-inline my-2 my-lg-0">
        <input id="searchinput" type="search" [(ngModel)]="searchkey" (keydown.enter)="crawlYoutube(searchkey)" 
         name="keyword" id="searchName" class="form-control mr-sm-2" placeholder="Search Youtube ...">
     </form>
  </div>
</nav> 
<mat-spinner [diameter]="150" *ngIf="spinnerService.visibility | async"></mat-spinner>

<router-outlet></router-outlet>