
  <button 
  mat-fab
  class="navbar"
   color="primary" 
   (click)="onBack()">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>

<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let videoInfo of videoInfos" class="col-md-4">
      <mat-card>
         <mat-card-title-group>
         <a
         href="{{ outputPath + videoInfo?.videoId }}"
         target="_blank"
         rel="noopener noreferrer"
         ><img
           mat-card-md-image
           src="{{ videoInfo?.thumbnailUrl }}"
           alt=""
       /></a>
          <mat-card-title class="example-title">{{ videoInfo?.title }}</mat-card-title>
          <mat-card-subtitle>{{
            videoInfo?.videoDuration | amDuration: "hh:mm:ss a"
          }}</mat-card-subtitle>

        </mat-card-title-group>
        <mat-card-title-group>
         <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ videoInfo?.publishedDate | amCalendar}}</li>
            <li class="list-group-item">{{ videoInfo?.video_stat_id }}</li>
          </ul>
      </mat-card-title-group>
      <mat-card-title-group>

        <mat-card-content>
          {{ videoInfo.description }}
        </mat-card-content>
      </mat-card-title-group>

        <mat-card-actions>
         <mat-progress-bar
           class="navbar-toggler"
           mode="indeterminate"
         ></mat-progress-bar>

         <button
           mat-raised-button
           color="primary"
           (click)="downloadYoutubeFile($event, videoInfo)"
           class="navbar-toggler"
         >
           Download
         </button>
       </mat-card-actions>
        <mat-card-footer>

        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
