<p>
   <a class='btn btn-default' (click)="onBack()">Back </a>
 </p>
<div class="container" id="main-container">
    <div class="row">
      <div *ngFor="let videoInfo of videoInfos" class="col-md-6 col-xl-3">
         <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-6">
                  <a href="{{outputPath + videoInfo?.videoId}}" target="_blank" rel="noopener noreferrer"><img src="{{videoInfo?.thumbnailUrl}}" alt="" class="img-fluid"></a>
               </div>
               <div class="col-6 card-title align-self-center mb-0">
                  <p class="m-0">{{videoInfo?.videoDuration | amDuration:'hh:mm:ss a'}}</p>
               </div>
            </div>
            <ul class="list-group list-group-flush">
               <li class="list-group-item">{{videoInfo?.title}}</li>
               <li class="list-group-item">{{videoInfo?.channel_id}}</li>
               <li class="list-group-item">{{videoInfo?.video_stat_id}}</li>
            </ul>
            <div class="card-body">
               <p>{{videoInfo.description}}</p>
            </div>
         </div>
      </div>
    </div>
    